<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RegressionTest" thread-count = '2' parallel ='classes'>
    <listeners>
   <listener class-name= "S2practice.iTest"/>
   </listeners>
    <test name="Test">
     <!--<parameter name= "email" value = "nayana.marathe612@gmail.com"/>
      <parameter name= "password" value ="xyz123456"/>-->
           <classes>
            <!--  <class name="S2practice.login"/>-->
             <class name ="S2practice.registration"/>
           <!--  <class name="Googletest.MapsTest"/>
             <class name="Googletest.ImagesTest"/> -->
          </classes> 
     </test> <!-- Test -->
 </suite> <!-- Suite -->
